.services {
  min-height: 100vh; /* Ensure a minimum height to cover the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f0f2f5 25%, #1890ff 100%);
  padding: 20px;

  .services__description {
    margin-bottom: 40px;
    text-align: center;
    color: #fff;

    .ant-typography {
      color: #fff;
    }
  }

  .services__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service-card {
    width: calc(33.33% - 40px); /* Adjust card width for three columns */
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

      .service-card__icon {
        color: #1890ff;
      }
    }

    .service-card__icon {
      font-size: 40px;
      color: #ff4d4f;
      margin-bottom: 10px;
      transition: color 0.3s ease;
    }

    .service-card__content {
      .service-card__title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
      }

      .service-card__description {
        font-size: 14px;
        color: #555;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .service-card {
      width: calc(50% - 40px); /* Adjust card width for two columns */
    }
  }

  @media only screen and (max-width: 768px) {
    .service-card {
      width: calc(
        100% - 40px
      ); /* Adjust card width for full width on smaller screens */
    }
  }

  @media only screen and (max-width: 480px) {
    .service-card {
      width: 100%;
      margin: 10px 0;
    }
  }
}
