/* Home.less */

.home {
  .no-cards {
    position: relative;

    .card-placeholder {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 300px; /* Adjust size as needed */
      height: auto;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateX(5px); /* Move image slightly to the right */
        cursor: pointer; /* Optional: Change cursor to pointer on hover */
      }
    }
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start; /* Align cards to the top */
  }

  .health-card {
    width: 320px;
    background: linear-gradient(135deg, #1e90ff, #00bfff);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #fff;
    font-family: "Arial, sans-serif";
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }

    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 30px; /* Make the logo smaller */
        height: 30px;
      }

      .person-icon {
        font-size: 24px;
      }
    }

    .card-details {
      .card-number,
      .member-number,
      .issue-date,
      .name {
        margin: 5px 0;
        font-size: 14px;
      }

      .name {
        font-weight: bold;
        font-size: 16px;
      }
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .issue-number,
      .rank {
        font-size: 12px;
      }
    }
  }
}

.home__container {
  padding: 20px;
  width: 100%; /* Ensure full width but no overflow */
  margin-bottom: 20px; /* Adjust bottom margin */
}

.home__intro,
.home__cards {
  width: 100%;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}
